*{
    padding: 0 !important;
    margin: 0;
}
#header{
    height: 80px;
    background-color: #F9B116;
    position: relative;
    color: white;
    padding: 0px 50px;
}

#header h1{
    font-weight: bolder;
    letter-spacing: 2px;
}

#menu{
    column-gap: 60px;
    padding-right: 60px;
    cursor: pointer;
    font-size: 17px;
}

#menu span:hover{
    color: black;
}

.banner{
    height: 400px;
    background-image: url("images/banner-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    row-gap: 30px;
}
.banner h1{
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.banner p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}
#read-more{
    padding: 15px 32px !important;
    color: white;
    background-color: #F9B116;
    border: none;
    font-weight: 500;
    border-radius: 5px;
}
#read-more:hover{
    background-color: white;
    color: rgb(26, 25, 25);
}

.our-services{
    min-height: 400px;
    border: 1px solid black;
    margin-top: 100px;
}
.our-services span{
    font-size: 45px;
    font-weight: 800;
    row-gap: 50px;
}

.our-services span:after{
    content: "";
    width: 65px;
    height: 10px;
    background-color: #F9B116;
    position: absolute;
    left: 730px;
    top: 640px;
    border-radius: 40px;
}

.card-cont{
    height: 400px;
    border: 1px solid red;
}