*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.classy-cafe{
    min-height: 600px;
    border: 1px solid black;
}

header{
    border: 1px solid red;
    height: 100px;
}
.header-child{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10%;
}
.header-child-left{
    border: 1px solid green;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-child-left img{

}
.header-child-right{
    border: 1px solid green;
    height: 100%;
    width: 70%;
}
