*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: black;
}
.main-container{
    min-height: 100vh;
    margin: 0 55px;
    position: relative;
}
.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.logo{
    height: 90%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    padding: 1px;
    
}
.menu{
    height: 90%;
    width: 50%;
    margin-left: 20px;
    margin-right: 25px;
    padding: 1px;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    column-gap: 46px;
}
.menu a{
    text-decoration: none;
    color: whitesmoke;
}

.menu button{
    color: whitesmoke;
    font-weight: bold;
    height: 70%;
    background: rgb(255,52,102);
    border: none;
    border-radius: 30px;
    letter-spacing: 2px;
    padding: 1px 19px;
}
.logo-text{
    background: linear-gradient(139deg, white, rgb(255,52,102));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: 900;
}

.logo-svg{
    height: 39px;
}

.hero-section{
    /* border: 1px solid white; */
    min-height: 400px;
    display: flex;
}
.left-hero{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  width: 60%;
  min-height: 75%;
  margin: 8px 45px;
  color: whitesmoke;
  /* border: 1px solid red; */
}

.right-hero{
    width: 40%;
    min-height: 75%;
    margin: 8px 45px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid red; */
}

.right-hero img{
    width: 92%;
    height: 92%;
    border-radius: 10px;
}
.left-hero h1{
    font-size: 90px;
    font-weight: 800;
}
.left-hero h1 span{
    font-style: italic;
    color: rgb(255,52,102);
}

.left-hero p{
    color: gray;
    font-size: 20px;
}

.hero-stats{
    display: flex;
    column-gap: 39px;
}
.hero-stats div h1{
    font-size: 40px;
    color: rgb(255,52,102);
}
.hero-stats div span{
    color: grey;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 100;
}

.hero-buttons{
    display: flex;
    column-gap: 22px;
}

.hero-buttons button{
    border: none;
    padding: 18px 25px;
    background-color: rgb(255,52,102);
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
}
.section-2{
    margin-top: 18px;
    /* border: 1px solid white; */
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.section-2 h1{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
}
.section-2 p{
    color: grey;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section-2 div{
    margin-top: 20px;
    width: 70%;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-2 div button{
    border: 1px solid grey;
    color: grey;
    padding: 10px 33px;
    background: transparent;
    font-size: 15px;
    letter-spacing: 1px;
}

.section-2 div button:nth-child(1){
    border:none;
    background-color: rgb(255,52,102);
}

.section-3{
    /* border: 1px solid red; */
    height: 450px;
    display: flex;
    column-gap: 15px;
    margin-top: 15px;
}

.section-3 .card{
    height: 100%;
    width: 25%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 15px;
}

.card:hover{
    box-shadow: 0px 1px 20px rgb(211, 59, 97);
}

.card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card img:hover{
    transform: scale(1.1);
}

.card div{
    margin-top: 19px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    padding-left: 15px;
}

.card div button{
    border: none;
    color:white;
    background-color: rgb(255,52,102);
    padding: 2px 10px;
    letter-spacing: 1px;
    font-size: 10px;
}
.card div h1{
    font-size: 25px;
}
.card div p{
    font-size: 13px;
    color: grey;
    letter-spacing: 1px;
}
.card div span{
    color: rgb(255,52,102);
    font-weight: 700;
    font-size: 20px;
}

.section-4{
    height: 500px;
    /* border: 1px solid green; */
    margin-top: 70px;
    padding: 50px 0;
    display: flex;
    background-color: #0a0a0a;
}

.section-4-left{
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 25px;
}

.section-4-left span:nth-child(1){
    color: rgb(255,52,102);
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.section-4-left h1:nth-child(2){
    font-size: 50px;
    font-weight: 650;
}

.section-4-left p:nth-child(3){
    color: grey;
}

.left-card-cont{
    display: flex;
    justify-content: flex-start;
    column-gap: 25px;
}

.left-card-cont div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    padding: 13px;
    background-color: #191919;
    border: 0.2px solid #1a1a1a;;
    border-radius: 10px;
    height: 200px;
    width: 160px;
}
.highlight-icon{
    border: none !important;
    height: 32px  !important;
    width: 32px !important;
    border-radius: 50% !important;
    background-color: rgb(255,52,102) !important;
    font-size: 29px;
}

.section-4-left button{
    width: 45%;
    height: 50px;
    color: white;
    font-size: 18px;
    background-color: rgb(255,52,102);
    border: none;
    padding: 15px 18px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-4-right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.img-cont{
    width: 89%;
    height: 89%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid white; */
}

.img-left{
    height: 100%;
    width: 50%;
    border: 1px solid #191919;
}
.img-left img{
    width: 100%;
    height: 100%
}
.img-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid #191919;
    /* border: 1px solid orangered; */
}

.img-right img{
    border: 1px solid #191919;
    width: 100%;
    height: 50%
}